<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理layout</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/coustomcss/commons.css">
    {% block css_content %}

    {% endblock %}
</head>

<body>

<div class="pg-header">
    <div class="logo fleft">老K后台管理</div>
    <div class="fright avatar">
        <i class="fa fa-user-o" aria-hidden="true" style="color: white"></i>
        <img style="width: 40px;height: 40px;position: relative" src="/static/images/1.jpg" alt="头像">
        <div class="user-info fright">
            <a>个人信息</a>
            <a>注销</a>
        </div>

    </div>
    <div class="rmenus fright">
        <a><i class="fa fa-commenting-o" aria-hidden="true"></i>消息</a>
        <a><i class="fa fa-envelope-o" aria-hidden="true"></i>邮件</a>
    </div>
</div>
<div class="pg-body">
    <div class="pg-menu">
        <a><i class="fa fa-hand-o-right" aria-hidden="true"></i>班级管理</a>
        <a><i class="fa fa-hand-o-right" aria-hidden="true"></i>学生管理</a>
        <a><i class="fa fa-hand-o-right" aria-hidden="true"></i>老师管理</a>
    </div>
    <div class="pg-content">
        <ol class="breadcrumb">
          <li><a href="#">首页</a></li>
          <li><a href="#">班级管理</a></li>
          <li class="active">添加班级</li>
        </ol>
        {% block xxcontent %}
        
        {% endblock %}
    </div>
</div>

        {% block js_content %}

        {% endblock %}
</body>
</html>