<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加学生</title>
</head>
<body>
<h1>添加学生</h1>
<hr>
<form method="POST" action="/add_student/">
   <p>学生姓名<input type="text" name="stu_name"></p>
    <p>学生班级
        <select name="cls_sel" id="cls_sel">
            {{% for foo in class_list %}
            <option value="{{ foo.id }}">{{ foo.title }}</option>
            {% endfor %}
            
        </select>
    </p>
    <input type="submit" value="提交">
</form>

</body>
</html>